@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --button-text-font-family: "Inter", Helvetica;
  --button-text-font-size: 20px;
  --button-text-font-style: normal;
  --button-text-font-weight: 600;
  --button-text-letter-spacing: 0px;
  --button-text-line-height: 129.99999523162842%;
  --header-font-family: "Outfit", Helvetica;
  --header-font-size: 75px;
  --header-font-style: normal;
  --header-font-weight: 600;
  --header-letter-spacing: -1.5px;
  --header-line-height: 120.00000476837158%;
  --heading-font-family: "Outfit", Helvetica;
  --heading-font-size: 200px;
  --heading-font-style: normal;
  --heading-font-weight: 600;
  --heading-letter-spacing: -4px;
  --heading-line-height: 120.00000476837158%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-text1 {
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Outfit, sans-serif;
  font-size: 130px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 156px */
  letter-spacing: -2.6px;
  background: linear-gradient(180deg, #1947BC 76.99%, #173B76 111.5%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: plus-lighter;
  filter: blur(10.350000381469727px);
}

.custom-text2 {
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Outfit;
  font-size: 130px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 156px */
  letter-spacing: -2.6px;
  opacity: 0.45;
  background: linear-gradient(180deg, #1947BC 76.99%, #173B76 111.5%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: plus-lighter;
  filter: blur(10.350000381469727px);
}

.custom-text3 {
  background-image: linear-gradient(180deg, #19ACBC 76.99%, #173B76 111.5%);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Outfit;
  font-size: 130px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 156px */
  letter-spacing: -2.6px;
  color: white;
}

.custom-text4 {
  background-image: linear-gradient(180deg, #1947BC 76.99%, #173B76 111.5%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 130px;
  font-weight: 400;
  font-family: 'Outfit', sans-serif;
  line-height: 144.30px;
  letter-spacing: -2.6px;
}

.backgroundInterview {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 57.68%, #000 90.56%), 
              linear-gradient(3deg, rgba(0, 0, 0, 0.00) 50.79%, #000 88.99%), 
              url(/backgroundforInterviewInterface.png) lightgray 50% / cover no-repeat;
  filter: blur(10.050000190734863px);
}

.interviewInterfaceTextBig {
  color: rgba(255, 255, 255, 0.87);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Outfit;
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  line-height: 111%; /* 106.56px */
  letter-spacing: -1.92px;
}

.interviewInterfaceTextSmall {
  color: rgba(255, 255, 255, 0.87);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Outfit;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 111%; /* 35.52px */
  letter-spacing: -0.64px;
}

.interviewInterfaceGlassBox {
  width: 565px;
  height: 432px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 2px solid rgba(255, 254, 254, 0.00);
  background: linear-gradient(270deg, rgba(96, 217, 255, 0.40) -5.2%, rgba(0, 0, 0, 0.00) 15.3%), linear-gradient(90deg, rgba(151, 199, 255, 0.40) -9.21%, rgba(0, 0, 0, 0.00) 18.42%), linear-gradient(180deg, rgba(151, 199, 255, 0.40) -21.6%, rgba(0, 0, 0, 0.00) 50%), linear-gradient(100deg, rgba(18, 155, 255, 0.45) 4.87%, rgba(0, 0, 0, 0.45) 75.05%);
  box-shadow: 0px 4px 16.9px 7px rgba(0, 0, 0, 0.55), 0px 4px 58px -8px rgba(255, 255, 255, 0.15) inset;
  backdrop-filter: blur(0px);
}

.textInsideGlassBox {
  width: 444px;
  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
  opacity: 0.45;
}

.leFont {
  font-family: Outfit;
}