@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --button-text-font-family: "Inter", Helvetica;
  --button-text-font-size: 20px;
  --button-text-font-style: normal;
  --button-text-font-weight: 600;
  --button-text-letter-spacing: 0px;
  --button-text-line-height: 129.99999523162842%;
  --header-font-family: "Outfit", Helvetica;
  --header-font-size: 75px;
  --header-font-style: normal;
  --header-font-weight: 600;
  --header-letter-spacing: -1.5px;
  --header-line-height: 120.00000476837158%;
  --heading-font-family: "Outfit", Helvetica;
  --heading-font-size: 200px;
  --heading-font-style: normal;
  --heading-font-weight: 600;
  --heading-letter-spacing: -4px;
  --heading-line-height: 120.00000476837158%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  height: 100%;
  background-color: white;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-text1 {
  width: 912px;
  height: 226px;
  flex-shrink: 0;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Outfit;
  font-size: 130px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 156px */
  letter-spacing: -2.6px;
  background: linear-gradient(180deg, #1947BC 76.99%, #173B76 111.5%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: plus-lighter;
  filter: blur(10.350000381469727px);
}

.custom-text2 {
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Outfit;
  font-size: 130px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 156px */
  letter-spacing: -2.6px;
  opacity: 0.45;
  background: linear-gradient(180deg, #1947BC 76.99%, #173B76 111.5%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: plus-lighter;
  filter: blur(10.350000381469727px);

}

.custom-text4 {
  width: 1024px;
  height: auto;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.87);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Outfit;
  font-size: 130px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -2.6px;
  background: linear-gradient(180deg, #19ACBC 76.99%, #173B76 97.1%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.backgroundInterview {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 57.68%, #000 90.56%), 
              linear-gradient(3deg, rgba(0, 0, 0, 0.00) 50.79%, #000 88.99%), 
              url(/backgroundforInterviewInterface.png) lightgray 50% / cover no-repeat;
  filter: blur(10.050000190734863px);
}

.interviewInterfaceTextBig {
  color: rgba(255, 255, 255, 0.87);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Outfit;
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  line-height: 111%; /* 106.56px */
  letter-spacing: -1.92px;
}

.interviewInterfaceTextSmall {
  color: rgba(255, 255, 255, 0.87);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Outfit;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 111%; /* 35.52px */
  letter-spacing: -0.64px;
}

.interviewInterfaceGlassBox {
  width: 565px;
  height: 432px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 2px solid rgba(255, 254, 254, 0.00);
  background: linear-gradient(270deg, rgba(96, 217, 255, 0.40) -5.2%, rgba(0, 0, 0, 0.00) 15.3%), linear-gradient(90deg, rgba(151, 199, 255, 0.40) -9.21%, rgba(0, 0, 0, 0.00) 18.42%), linear-gradient(180deg, rgba(151, 199, 255, 0.40) -21.6%, rgba(0, 0, 0, 0.00) 50%), linear-gradient(100deg, rgba(18, 155, 255, 0.45) 4.87%, rgba(0, 0, 0, 0.45) 75.05%);
  box-shadow: 0px 4px 16.9px 7px rgba(0, 0, 0, 0.55), 0px 4px 58px -8px rgba(255, 255, 255, 0.15) inset;
  backdrop-filter: blur(0px);
}

.textInsideGlassBox {
  width: 444px;
  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
  opacity: 0.45;
}

.leFont {
  font-family: Outfit;
}

.bigMic {
  width: 250.752px;
  height: 350.047px;
  flex-shrink: 0;
}

.bigPaper {
  width: 282.439px;
  height: 277.317px;
  flex-shrink: 0;
}

.bigWave {
  flex-shrink: 0;
  fill: linear-gradient(180deg, #1947BC 0%, #0B4F56 135.63%);
  mix-blend-mode: plus-lighter;
  filter: blur(13.050000190734863px);
}

.startInterview {
  width: 290px;
  height: 80px;
  flex-shrink: 0;
}

.segment-inactive {
  height: 8px;
  flex-shrink: 0;
  border-radius: 18px;
  border: 1px solid #05B1E2;
  background: linear-gradient(90deg, rgba(18, 155, 255, 0.35) 5%, rgba(0, 0, 0, 0.35) 36.5%, rgba(18, 155, 255, 0.35) 100%);
  box-shadow: 0px 3px 12px 3px #000;
  backdrop-filter: blur(5.599999904632568px);
}

.segment-active-base {
  height: 8px;
  border-radius: 18px;
  background: linear-gradient(180deg, #19ACBC -1125%, #173B76 1356.25%);
}

.segment-active-middle {
  height: 8px;
  border-radius: 18px;
  border: 1px solid #FFF;
  background: linear-gradient(180deg, #19ACBC -450%, #173B76 737.5%);
  mix-blend-mode: plus-lighter;
  filter: blur(6.650000095367432px);
}

.segment-active-top {
  height: 8px;
  border-radius: 18px;
  border: 1px solid #FFF;
  background: linear-gradient(180deg, #19ACBC -450%, #173B76 737.5%);
  mix-blend-mode: plus-lighter;
  box-shadow: 0px 3px 12px 3px #000;
}

/* .equalizer-icon {
  width: 243px;
  height: 243px;
  flex-shrink: 0;
  position: relative;
}

.equalizer-icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.equalizer-icon .base {
  fill: url(#gradient);
}

.equalizer-icon .middle {
  mix-blend-mode: plus-lighter;
  filter: blur(6.8px);
}

.equalizer-icon .top {
  mix-blend-mode: plus-lighter;
  filter: blur(13.05px);
} */

.hover {
  transform: scale(1.05);
}